@charset "UTF-8";

body {
            background-color: darkcyan;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
        }

        h1 {
            color: beige;
            background-color: rgb(44, 39, 39);
        }

        h2 {
            color: rgb(196, 212, 241);
        }

        p {
            text-align: justify;
            color: aliceblue;
        }